asttokens
backcall
black
click
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
isort
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
numpy
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
six
stack-data
threadpoolctl
tomli
tornado
traitlets
typing_extensions
wcwidth
zipp
